# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Project outputs
qrcodes/
*.png
*.svg

# IDE
.vscode/
.idea/
